/* style.css */

body {
  margin: 0;
  background-color: #2e2e2e;
  font-family: monospace;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prompt {
  display: inline-block;
  width: 3ch; /* espace réservé équivalent à la taille du prompt '>_' */
  margin-right: 10px;
  color: #00ff00;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.portfolio-header {
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
}

.terminal-window {
  background-color: #2e2e2e;
  width: 80vw;
  height: 70vh;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.terminal-header {
  background-color: #1a1a1a;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 0 0 auto;
}

.btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.btn.red    { background-color: #ff5f56; }
.btn.yellow { background-color: #ffbd2e; }
.btn.green  { background-color: #27c93f; }

.terminal-body {
  padding: 20px;
  color: #00ff00;
  background-color: #1e1e1e;
  flex: 1 1 auto;
  overflow-y: auto;
}

.line {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  white-space: pre-wrap;
}

.prompt {
  margin-right: 10px;
  color: #00ff00;
}

.input {
  background: none;
  border: none;
  color: #00ff00;
  outline: none;
  font-family: inherit;
  font-size: 1em;
  width: 100%;
}

/*MENU*/

.menu {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #2e2e2e;
  border-radius: 8px;
  overflow: hidden;
  font-family: monospace;
  z-index: 999;
}

.menu-button {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.menu-button:hover {
  background-color: #555;
}

.menu-content {
  display: none;
  flex-direction: column;
  background-color: #333;
  animation: slideDown 0.4s ease forwards;
}

.menu-content a {
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-top: 1px solid #444;
}

.menu-content a:hover {
  background-color: #444;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
